/* FONT */

body {
 font-family: "Sans", sans-serif;
}

/* MENU */

.body-menu {
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px 0px;
}

.body-menu-wrapper {
    background-color: #FFF;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo {
 float: left;
 margin-top: 10px;
}

#flags {
 float: right;
 padding: 0 6px 10px;
 margin: 8px 0 0 0;
}

#flags a {
 padding: 0px 10px;
}

/* BODY */

body {
 background-color: #f5f5f5;
}

.body-text {
	margin: 0 auto;
	max-width: 950px;
	text-align: justify;
}

h1 {
 text-align: center;
 margin: 0 0 30px 0;
 text-transform: uppercase;
 padding: 40px 0;
}

h2 {
 font-size: 16px;
 font-weight: bold;
}

/* THUMBS */

a:hover{
    text-decoration: none;
}

h3 {
 text-align: left;
}

h3 span {
 color: #7daeff;
 font-size: 15px;
 text-transform: uppercase;
 background: white;
 padding: 0px 8px;
}

h4 {
 font-size: 24px;
 text-align: center;
 color: #555;
 padding-top: 30px;
}

/* FOOTER */

.footer {
 background: white;
 padding: 20px 0px;
 margin-top: 200px;
}

@media all and (max-width: 1000px) {
 .body-menu, .body-text {
 	padding-left: 40px; 
 	padding-right: 40px;
 }
 ul.menu {
    padding: 0;
    width: 100%;
 }
}

@media all and (max-width: 390px) {
 .body-menu, .body-text {
 	padding-left: 20px; 
 	padding-right: 20px;
 }
 #logo, #flags {
 	width: 100%;
	text-align: center;
 }
 h1, h1 span {
 	background: transparent;
 }
}

#game {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

table#game tr td {
    border: 1px solid black;
    text-align: center;
    font-size: 5em;
}

#game td {
    width: 33%;
    height: 33%;
}

#gameButtons {
    width: 100%;
    text-align: center;
}

#chat {
    padding-top: 1cm;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#chat_inbox {
    height: 100px;
    border: 1px solid black;
}

#chat_say {
    width: 100%;
}